<%= image_tag('parici.jpg', class: "cover_center animate-fadeinout")%>

<link rel ="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Italianno">
<h1 class="coming_soon animate-onoff">Coming Soon</h1>
