// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


body{
    background: black;
}

/* --------------------- VARIABLES ------------------------*/

$main-col: gray;
$text-col:#555;

@mixin  bg-box {
    position: relative;
    z-index: 1;
    height:130px;
    &:hover {}  
}

/* HOME PAGE COMING SOON */
.cover_center {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    opacity: 1;
}

.coming_soon{
    font-family: 'Italianno', cursive;
    font-size: 6em; 
    color: white;
    text-align: center;
    top: 50%;
    
}

.copyright {
    color: gray;
    position: absolute;
    bottom: 0;
}

/* Looping Fade In Fade out */
@-o-keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    83% { opacity: 0.1; }
    90% { opacity: 0.3; }
    97% { opacity: 0.5; }
}
@-moz-keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    83% { opacity: 0.1; }
    90% { opacity: 0.3; }
    97% { opacity: 0.5; }
}
@-webkit-keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    83% { opacity: 0.1; }
    90% { opacity: 0.3; }
    97% { opacity: 0.5; }
}
@keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    83% { opacity: 0.1; }
    90% { opacity: 0.3; }
    97% { opacity: 0.5; }
}
.animate-fadeinout {
    -webkit-animation: fadeinout 3s ease-in-out;
    -moz-animation: fadeinout 3s ease-in-out;
    -o-animation: fadeinout 3s ease-in-out;
    animation: fadeinout 3s ease-in-out;
}

/* Looping On and Off Flicker */
@-o-keyframes flickerAnimation {
    0% { opacity: 0; }
    20% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1 }
    
}
@-moz-keyframes flickerAnimation {
    0% { opacity: 0; }
    20% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1 }
}
@-webkit-keyframes flickerAnimation {
    0% { opacity: 0; }
    20% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1 }
}

@keyframes flickerAnimation {
    0% { opacity: 0; }
    20% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1 }
}
.animate-onoff {
    -webkit-animation: flickerAnimation 3s ease-in-out;
    -moz-animation: flickerAnimation 3s ease-in-out;
    -o-animation: flickerAnimation 3s ease-in-out;
    animation: flickerAnimation 3s ease-in-out;
}

        .navbar-default {
            background-color: transparent;
            border-color: transparent;
            position:absolute;
            background-color: black;
            padding:30px 0 25px 0;
            width:100%;
             
            // .blue-header {
            //     background-color:#333;
            //     padding:35px 0;
            //     position:relative;
            // }

            // .grey-header {
            //     background-color:#333;
            //     padding:30px 0;
            //     position:relative;
            // }

             
            .logo {
                padding-left:85px;
                width: 200px;
                height: auto;
            }
     
            .nav-menu {
                padding-right:85px;
                        
                .enquiry {
                    color:#fff;
                    display:block;
                    font-family:playfair display;
                    font-size:1.4em;
                    font-style:italic;
                    padding-right:10px;

                    a {
                        font-family:Open Sans;
                        color:#fff;
                        font-style:normal;
                        font-weight:bold;
                        padding-left:10px;
                    }
                }
                
                .navbar-right {
                    margin-right: 0px;
                    clear:right;
                }
                
                .navbar-nav {

                    li {
                        a{font-family:open sans;
                          color:#fff;
                          font-size:0.9em;
                          padding:5px 0px;
                          margin:0 10px;
                          letter-spacing:0.5px;                                
                          

                          &:hover { }
                         }
                    }
                    
                    .active {
                        
                        a {
                            background:transparent;
                            
                        }
                    }
                }
            }
        }  

//HAMBURGER NAVIGATION
.navbar-toggle {
    margin-top: 80px;
}

//HOVER EFFECT

.navbar-default .navbar-nav > li > a {
    text-align:center;
    border-bottom: 3px solid transparent;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    outline: none;
    z-index: 10;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom:3px solid $main-col;
    background-color:transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color:transparent;
    border-bottom:3px solid $main-col;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
