// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background: black;
}

.cover_center {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    opacity: 1;
}

.coming_soon{
    font-family: 'Italianno', cursive;
    font-size: 6em; 
    color: white;
    text-align: center;
    top: 50%;
    
}

.copyright {
    color: gray;
    position: absolute;
    bottom: 0;
}

/* Looping Fade In Fade out */
@-o-keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fadeinout {
    0% { opacity: 1; }
    30% { opacity: 1; }
    33% { opacity: 0.5; }
    40% { opacity: 0.3; }
    47% { opacity: 0.1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
.animate-fadeinout {
    -webkit-animation: fadeinout 3s ease-in-out;
    -moz-animation: fadeinout 3s ease-in-out;
    -o-animation: fadeinout 3s ease-in-out;
    animation: fadeinout 3s ease-in-out;
}

